RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ localhost/modulogit/curso/PHP%20super%20avancado/Ajax_mvc/ajax/index.php?url=$1 [QSA,L] php //para requisiçoes ajax no vc ponhar proximo pasta raiz